# Dependencies
node_modules/

# Environment variables
.env
scratch/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
